@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared style */
   .display-flex{
    display: flex;
   }
   .white{
    color:#FFFFFF;
   }
   .white1{
    color: rgba(255, 255, 255, 0.5);
   }
   .background{
    background-color: rgba(17, 17, 17, 1.00);

   }
   .title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0px;
  }
  .description{
    font-size: 1rem;
    font-weight: 400;
  }
  /* navbar style */
  .nav-bar{
    max-width:1060px;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
  }
  .header{
    max-width: 1440px;
    margin: 0 auto;
  }
  .btn1{
    font-size: 1rem;
    list-style: none;
    border: none;
    margin-right: 30px;
    background-color:rgba(230, 83, 60, 1);
    border-radius: 46px;
    padding: 4px 18px;
    font-weight: 600;
  }
  .btn2{
    list-style: none;
    margin-right: 30px;
    border: 1px solid white;
    border-radius: 46px;
    padding: 4px 18px;
    font-size: 1rem;
    font-weight: 600;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
    margin-top: 25px;
  }
   .nav-link{
    text-decoration: none;
    margin-inline: 20px;
    color: #FFFFFF;

  }
  .logo{
    color: rgba(230, 83, 60, 1);
    font-size: 2.25rem;
    font-weight: 800;
  }
  .icone{
    align-items: center;
    font-size: 30px;
    margin-right: 12px;
    color: #FFFFFF;
    display: none;
  }

  /* banner style */
.banner{
  display: flex;
  gap: 120px;
}
.shape{
font-family: Miama; 
font-size: 4rem;
font-style: italic;
font-weight: 400;
}
.banner-left{
  max-width: 500px;
  margin-left: 11rem;
  margin-top: 6.25rem;
}
.banner-right{
   max-width: 350px;
  height: 580px; 
}
.banner-right-img{
    width: 100%;   
  
}
.banner-btn{
  display: flex;
  color: #FFFFFF;
}
.banner-title{
  font-size: 4rem;
  font-weight: 900;
}
.banner-description{
  font-size: 1rem;
  font-weight:400 ;
  margin-bottom: 40px;
}
.banner-r-btn1{
  background: rgba(48, 48, 48, 0.54);
  border: 1px;
  border-radius: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: -112px;
  margin-top: -140px;
}
.banner-r-btn2{
  background: rgba(48, 48, 48, 0.54);
  border: 1px;
  border-radius: 12px;
  width: 200px;
}
.btn-top{
  margin-left: 250px;
  margin-top: -400px;
}
.fa-youtube{
  font-size: 40px;
  color: red;
}
.bnr-r-btn1-up{
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
}
.bnr-r-btn1-down{
  font-size: 1rem;
  font-weight: 400;
}
.bnr-r-btn2-up{
  font-size: 2.5rem;
  font-weight: 900;
}
.bnr-r-btn2-down{
  font-size: 1rem;
  font-weight: 400;
}

  /* change your habit section style */
  .main{
    max-width:1440px;
    margin:0 auto;
  }
    .habit-contant{
      max-width: 670px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 58px;
    }
    .habits{
      gap: 58px;
    }
    .habit-cards{
      display: flex;
      align-items: center;
      text-align: center;
      gap: 40px;
    }
    .card-img{
      border-radius: 50%;
    }
    /* run an extra mile */
    .run{
      max-width: 1060px;
      margin: 100px auto;
      display: flex;
      gap: 160px;
      background-color: #222222; 
    }
    .run-left, .run-right{
      max-width: 440px;
      margin: 30px 40px 30px 40px;
      align-items: center;
      text-align: center;
    }
    .run-right-img{
      width: 100%;
      border-radius: 10px;  
    }
    /* calculate BMI section */
    .bmi-heading{
      max-width:670px;
      margin: 0 auto;
    }
    /* meet our team */
    .team-heading{
      max-width: 670px;
      margin: 0px auto 58px auto;
      text-align: center;
    }
    .team-body{
      max-width: 1060px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    .team-member{
      max-width: 326px;
      margin-bottom: 10px;
      align-items: center;
    }
    .team-img{
      width: 100%;
      height: 100%;
      border-radius: 18px;
    }
    .introduce{
      margin-top: -60px;
      margin-left: 20px;
    }
    .name{
      font-size: 20px;
      font-weight: 900;
      margin: 0px;
      padding: 0px;
    }
    .position{
      font-size: 14px;
      font-weight: 400;
      margin: 0px;
      padding: 0px;
    }
    /* fitness */
    .fitness{
      margin-top: 50px;
      background-color: #222222;
    }
    .fitness-container{
       max-width:1060px;
       height: 250px;
       margin: auto;
       display: flex;
    }
    .fitness-left{
      max-width: 530px;
    }
    .fitness-head{
      font-style: italic;
      color: #E6533C;
      font-size: 70px;
      font-weight: 800;
      margin: 0px;
      padding: 0px;
    }
    .description{
      font-size: 14px;
      font-weight: 400;
    }
    .fitness-right{
      max-width: 530px;
      display: flex;
      margin: 0 auto;
      gap:150px ;
    }
  /* responsive */
  @media screen and (max-width:576px){
      .nav-link{
        display: none;
      }
      .icone{
        display: flex;
      }
      .nav-bar, .banner-right{
        margin-left: 10px;
      }
      .btn1, .btn2{
        border-radius: 30px;
      }
      .banner, .habit-cards, .run, .fitness-container,.fitness-right{
        flex-direction: column;
        gap: 30px;
      }
      .banner-left{
        margin-left: 10px;
        margin-top: 10px;
      }
      .title{
        font-size: 36px;
      }
      .banner-r-btn1{
        margin-left: 0px; 
      }
      .btn-top{
        margin-left: 120px;
      }
      .habit-title{
        font-size: 32px;
      }
      .run{
        gap: 0px;
      }
      .team-body{
        grid-template-columns: repeat(1, 1fr);
      }
    .team-member{
      margin-left: 60px;
    }
    .fitness-container{
      height: auto;
    }
    .fitness-left, .fitness-right{
      margin-left: 10px;
    }
  }